<p id="notice"><%= notice %></p>

<h1>Cats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture Location</th>
      <th>Picture Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><%= cat.picture %></td>
        <td><%= cat.picture_identifier %></td>



        <td><%= link_to 'Show', cat %></td>
        <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
        <td><%= link_to 'Destroy', cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New cat', new_cat_path %>
<script>
  function send_docs(e){
    var reader = new FileReader()
    var files = document.getElementById('picture').files;
    var name = document.getElementById('name').value
    var reader = new FileReader();
    reader.readAsDataURL(files[0]);

    reader.onload = function () {
      base64string = reader.result
      console.log(base64string);
      info = {cat:{
               name: name,
               picture: base64string
             }};

      $.ajax({
          url: "http://localhost:3000/cats/",
          type: "POST",
          dataType: "JSON",
          data: info,
          success: function (response) {
            // You can see the full response object in
            // Chrome developer tools, console
            // console.log(response)
            alert("Name: " + response.name + " ID:" + response.id );
            $('#string_image_form').trigger("reset");
          }
      });

    }; //End of encoding

  };
</script>


<form id='string_image_form' onsubmit="send_docs(this); return false;">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="file">Picture</label>
  <input type="file" name="file" id="picture">
  <br/>
  <input type="submit">
</form>
