<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@cat.picture, alt: "Cat Base Picture") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @cat.picture %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
